<!-- this is a custom hero -->
<div class="hero-container">
    {% for i in range(4) %}
        {% if ('hero_image' + (i+1)|string) in page.meta %}
            <img src="{{ page.meta['hero_image' + ((i+1)|string)] | url}}" class="hero_image"/>
        {% endif %}
    {% endfor %}
    <h1 class="hero-headline">{{ page.meta.hero_text }}</h1>
    <div class="down-arrow"></div>
</div>
<script src="{{ 'assets/javascripts/simpleParallax.min.js' | url }}"></script>
<script>
    (function () {
        let header = document.getElementsByTagName("header")[0];
        let heroContainer = document.getElementsByClassName("hero-container")[0];
        let heroHeadline = document.getElementsByClassName("hero-headline")[0];
        let onResize = function () {
            heroContainer.style.marginTop = "-" + header.clientHeight + "px";
        }
        header.onresize = onResize;
        onResize();

        const hero_images = Array.from(document.getElementsByClassName('hero_image'));
        hero_images.shift();
        let rate = 2;
        for (let hero_image of hero_images) {
            new simpleParallax(hero_image, {
                orientation: 'up',
                scale: rate,
                overflow: true
            });
            rate += 1;
        }
        new simpleParallax(heroHeadline, {
            orientation: 'up',
            scale: 1.5,
            overflow: true
        });
    })();
</script>