<!-- <div class="loading-overlay">
    <div class="spinner">
        <div class="spinner1"></div>
    </div>
</div> -->

{% include "custom/partials/home_alt/edit.html" %}
<!-- {% include "custom/partials/home_alt/part_1.html" %} -->
<!-- {% include "custom/partials/home_alt/part_2.html" %} -->
<!-- {% include "custom/partials/home_alt/part_3.html" %} -->
<!-- {% include "custom/partials/home_alt/part_4.html" %} -->
<!-- {% include "custom/partials/home_alt/part_5.html" %} -->
<!-- {% include "custom/partials/home_alt/part_6.html" %} -->
