<!-- this is a custom hero -->
<div class="hero-container">
    {% for i in range(4) %}
        <img src="{{ page.meta['hero_image' + ((i+1)|string)] | url}}" class="hero_image"/>
    {% endfor %}
    <h1>{{ page.meta.hero_text }}</h1>
</div>
<script src="{{ 'assets/javascripts/simpleParallax.min.js' | url }}" ></script>
<script>
    const hero_images = document.getElementsByClassName('hero_image');
    let rate = 1;
    for(let hero_image of hero_images) {
        new simpleParallax(hero_image, {
            orientation: 'up',
            scale: rate,
            overflow: true
        })
        rate += 0.5;
    }
</script>