<div class="md-copyright full-width">
    <h2>Sponsors</h2>
    <div class="flex-container">
        <div class="flex-item">
            <a href="https://www.biologie.uni-muenchen.de/" draggable="false">
                <img src="/munichbioinformatics/assets/images/sponsor-partners/lmu-bio.png" alt="logo" class="whitened" draggable="false">
            </a>
        </div>
        <div class="flex-item">
            <a href="https://www.roche.com/" draggable="false">
                <img src="/munichbioinformatics/assets/images/sponsor-partners/roche.svg" alt="logo" class="whitened" draggable="false">
            </a>
        </div>
        <div class="flex-item">
            <a href="https://www.freunde.tum.de/" draggable="false">
                <img src="/munichbioinformatics/assets/images/sponsor-partners/freunde-der-tum.svg" alt="logo" class="whitened" draggable="false">
            </a>
        </div>
    </div>
    <h2>Partners</h2>
    <div class="flex-container">
        <div class="flex-item">
            <a href="https://www.rostlab.org" draggable="false">
                <img src="/munichbioinformatics/assets/images/sponsor-partners/rostlab.png" alt="logo" class="whitened" draggable="false">
            </a>
        </div>
        <div class="flex-item">
            <a href="https://www.lmu.de" draggable="false">
                <img src="/munichbioinformatics/assets/images/sponsor-partners/lmu.png" alt="logo" class="whitened" draggable="false">
            </a>
        </div>
        <div class="flex-item">
            <a href="https://www.tum.de" draggable="false">
                <img src="/munichbioinformatics/assets/images/sponsor-partners/tum.png" alt="logo" class="whitened" draggable="false">
            </a>
        </div>
    </div>
</div>