<div class="md-copyright full-width">
    <h2>Sponsors</h2>
    <div class="partners">
        <a href="https://www.biologie.uni-muenchen.de/" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/lmu-bio.png" alt="logo" class="whitened" draggable="false">
        </a>
        <a href="https://www.roche.com/" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/roche.svg" alt="logo" class="whitened" draggable="false">
        </a>
        <a href="https://www.freunde.tum.de/" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/freunde-der-tum.svg" alt="logo" class="whitened" draggable="false">
        </a>
        <a href="https://www.cit.tum.de/" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/tum-cit.png" alt="logo" class="whitened" draggable="false">
        </a>
    </div>
    <h2>Partners</h2>
    <div class="partners">
        <a href="https://www.rostlab.org" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/rostlab.png" alt="logo" class="whitened" draggable="false">
        </a>
        <a href="https://www.lmu.de" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/lmu.png" alt="logo" class="whitened" draggable="false">
        </a>
        <a href="https://www.tum.de" draggable="false">
            <img src="https://static.igem.wiki/teams/5016/wiki/tum.png" alt="logo" class="whitened" draggable="false">
        </a>
    </div>
</div>