<!-- Determine class according to state -->
{% if not class %}
{% set class = "md-tabs__link" %}
{% if nav_item.active %}
{% set class = class ~ " md-tabs__link--active" %}
{% endif %}
{% endif %}

<!-- Main navigation item with nested items -->
{% if nav_item.children %}
{% set nav_item_children = nav_item.children %}
{% set title = title | d(nav_item.title) %}
{% set nav_item = nav_item.children | first %}

<!-- Recurse, if the first item has further nested items -->
{% if nav_item.children %}
{% include "partials/tabs-item.html" %}

<!-- Render item -->
{% else %}
<li class="md-tabs__item">
    <div class="dropdown" id='outside-box'>
        <a href="{{ nav_item.url | url }}" class="{{ class }}">
            <div class="rotate-svg">
                {% include ".icons/" ~ "fontawesome/solid/angle-down" ~ ".svg" %}
            </div> {{ title }}
        </a>
        <div class="dropdown-container">
            <div class="dropdown-content">
                {% for nav_child in nav_item_children %}
                <div>
                    <a class="md-tabs__link" href="/munichbioinformatics/{{ nav_child.url }}">{{ nav_child.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</li>
{% endif %}

<!-- Main navigation item -->
{% else %}
<li class="md-tabs__item">
    <a href="{{ nav_item.url | url }}" class="{{ class }}">
        {{ nav_item.title }}
    </a>
</li>
{% endif %}