.dropdown {
    /* padding-left: 20px; */
}

.dropdown .dropdown-container {
    overflow: visible !important;
    display: none;
    position: absolute;
    /* min-width: 160px; */
    z-index: 1;
    background-color: rgb(196, 111, 0);
}

.dropdown:hover .dropdown-container {
    position: absolute;
    transition: 2s;
    display: block;
}

.dropdown-content {
    margin-top: 1.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: #010101;
}

.md-tabs__list {
    contain: none;
}

.rotate-svg {
    margin-right: 0.3rem;
    transform-origin: center 35%;
    transition: transform .8s cubic-bezier(.1, .7, .1, 1), opacity .25s;
}

#outside-box:hover .rotate-svg {
    transform: rotate(180deg);
}

[dir=ltr] .md-tabs__link svg {
    margin: 0;
}