.dropdown {
    /* padding-left: 20px; */
}

.dropdown .dropdown-container {
    overflow: visible !important;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-container {
    transition: 2s;
    display: block;
}

.dropdown-content {
    padding: 0.5rem;
    margin-top: 10px;

    border-radius: 0.7rem;
    background-color: #00001850;
    border-width: 0.5px;
    border-top-color: #ffffff40;
    border-bottom-color: #49494940;
    border-left-color: #8f8f8f40;
    border-right-color: #8f8f8f40;
    border-style: solid;

    position: relative;
    z-index: 4;
    backdrop-filter: blur(7px);
}

.md-tabs__list {
    contain: none;
}

.rotate-svg {
    margin-right: 0.3rem;
    transform-origin: center 35%;
    transition: transform .8s cubic-bezier(.1, .7, .1, 1), opacity .25s;
}

#outside-box:hover .rotate-svg {
    transform: rotate(180deg);
}

[dir=ltr] .md-tabs__link svg {
    margin: 0;
}