.md-typeset .team-member-image {
    width: 10rem;
    height: auto;
}

.team-members {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.team-member {
    margin: 2rem;
    min-height: 2.4rem;
}

team-member-image:hover {
    transform: scale(1.1);
    z-index: 1;
}

team-member-image:hover img {
    filter: none;
}

.team-member-image img {
    object-fit: cover;
    aspect-ratio: 1;
    filter: grayscale(100%);
}

.team-member-image-full {
    flex-grow: 1;
    flex-shrink: 1;
}

.team-member-image-full img {
    max-height: 50vh;
    max-width: 80vw;
}

.team-member-description {
    flex-shrink: 2;
    flex-grow: 2;
    flex-basis: 20vw;
}

.team-member-fullscreen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.team-member-fullscreen > * {
    margin: 1rem;
}