{% extends "main.html" %}

{% block hero %}
    {% include "custom/partials/custom_hero_content.html" %}
    <!--<div class="md-grid md-post--excerpt">-->
    <h1 class="md-grid">Our Team</h1>
    <div class="md-grid md-post--excerpt team-members">
        {% with name="finn" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="david" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="chengwei" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="leon" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="chris" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="julius" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="jannis" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
    </div>
    <style>
        @media screen and (min-width: 76.1875em) {
            main {
               display: none;
            }
        }
    </style>
{% endblock %}

{% block container %}
{% endblock %}
