{% extends "main.html" %}

{% block hero %}
    <!--<div class="md-grid md-post--excerpt">-->
    <div class="md-grid md-post--excerpt">
        {% with name="Jannis" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="Finn" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="Jannis" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
        {% with name="Finn" %}
            {% include "custom/partials/custom_team.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block content %}{% endblock %}