.dropdown .dropdown-container {
    overflow: visible !important;
    display: none;
    position: absolute;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgb(196, 111, 0);
}

.dropdown:hover .dropdown-container {
    position: absolute;
    transition: 2s;
    display: block;
}

.dropdown-content {
    margin-top:1.5rem;
    background-color: #010101;
}

.md-tabs__list {
    contain: none;
}