<div class="background_big_purple">
    <div class="box_large">
        <div class="split">
            <p class="gradient_Headline_Graphs">Graphs</p>
            <p class="text_standard">
                Artificial Intelligence (AI) is revolutionizing the way we interact with technology and make sense of data. At its core, AI seeks to replicate human intelligence and decision-making in machines, enabling them to perform tasks that traditionally required human cognition. Machine learning, a subset of AI, empowers systems to learn and improve from data, making them adaptable and proficient in diverse applications.
                AI's impact spans various domains, from healthcare to finance, entertainment to transportation. In healthcare, AI assists in diagnosing diseases, personalizing treatment plans, and predicting patient outcomes. In finance, it enhances fraud detection and stock trading strategies.
                In healthcare, AI assists in diagnosing diseases, personalizing treatment plans, and predicting patient outcomes. In finance, it enhances fraud detection and stock trading strategies.
            </p>
        </div>
        <div class="split">
            <img src="{{ 'assets/images/placeholder.png' | url }}" id="scrolling-image" alt="Graph Image"> 
        </div>
    </div>
</div>