<div class="background_purple_start">
    <div class="split_start">
        <img src="https://static.igem.wiki/teams/5016/wiki/sepia-8.png" alt="SEPIA_Logo" class="sepia_logo">
            <p class="gradient_Headline_start">
                Predicting Polypharmacy with Precision
            </p>
            <p class="Headline_start">
                Unlock the power of AI with our cutting-edge neural network. <br> Predict polypharmacy risks effortlessly and make informed healthcare decisions.
            </p>
            <button class="glass_button_purple_start" onclick="window.open('http://sepia.bmsl.org/', '_blank')">Try the Demo</button>
    </div>
    <div class="split_spline">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.479/build/spline-viewer.js"></script>
        <spline-viewer class="spline" loading-anim url="https://prod.spline.design/JKbRR1pd5rUHCyvV/scene.splinecode"></spline-viewer>
    </div>
</div>