<div class="background_purple_start">
    <div class="split_start">
        <p class="gradient_Headline_start">SEPiA</p>  
        <div class="box_small_left">
            <p class="text_standard">
                Artificial Intelligence (AI) is revolutionizing the way we interact with technology and make sense of data. At its core, AI seeks to replicate human intelligence and decision-making in machines, enabling them to perform tasks that traditionally required human cognition. Machine learning, a subset of AI, empowers systems to learn and improve from data, making them adaptable and proficient in diverse applications.
                AI's impact spans various domains, from healthcare to finance, entertainment to transportation. In healthcare, AI assists in 
            </p>
            <button class="glass_button_purple_start" onclick="'http://sepia.bmsl.org/'">Try the Demo</button>
        </div>
    </div>
    <div class="split_spline">
        <script  type="module" src="https://unpkg.com/@splinetool/viewer@0.9.456/build/spline-viewer.js"></script>
        <spline-viewer class="spline" loading-anim url="https://prod.spline.design/JKbRR1pd5rUHCyvV/scene.splinecode"></spline-viewer>
    </div>
</div>