<div class="background_blue">
    <div class="split">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.475/build/spline-viewer.js"></script>
        <spline-viewer style="height: 20rem;" loading-anim url="https://prod.spline.design/urzxQmEHHJC27zol/scene.splinecode"></spline-viewer>   
    </div>
    <div class="split">
        <div class="box_small_poly">
            <p class="gradient_text_Headline_poly">Polypharmacy</p>  
            <p class="text_poly">
                "Treatment costs totaling over 177 billion Dollars per year."
            </p>
            <p class="text_poly">
                "≥ 80% of nursing home residents undergoing polypharmacy in one form or another."
            </p>
            <p class="text_poly">
                "Polypharmacy is associated with a greater risk of hospitalization and death."
            </p>
        </div>
    </div>
</div>