<div class="background_blue">
    <div class="md-content md-grid">
        <div class="md-content__inner">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm">
                        <div>
                            <p class="gradient-text-Headline_poly">P</p>
                            <p class="gradient-text-Headline_poly">o</p>
                            <p class="gradient-text-Headline_poly">l</p>
                            <p class="gradient-text-Headline_poly">y</p>
                            <p class="gradient-text-Headline_poly">p</p>
                            <p class="gradient-text-Headline_poly">h</p>
                            <p class="gradient-text-Headline_poly">a</p>
                            <p class="gradient-text-Headline_poly">r</p>
                            <p class="gradient-text-Headline_poly">m</p>
                            <p class="gradient-text-Headline_poly">a</p>
                            <p class="gradient-text-Headline_poly">c</p>
                            <p class="gradient-text-Headline_poly">y</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="box_small_poly">
                            <p class="text_poly">
                                "Treatment costs totaling over 177 billion Dollars per year."
                            </p>
                            <p class="text_poly">
                                "≥ 80% of nursing home residents undergoing polypharmacy in one form or another."
                            </p>
                            <p class="text_poly">
                                "Polypharmacy is associated with a greater risk of hospitalization and death."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>