/* --------- Dark --------- */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #000018;
    --md-primary-fg-color--light: #ff00dd;
    --md-primary-fg-color--dark: #ff00dd;
    --md-accent-fg-color: #7c4dff;
    --md-default-bg-color: #000018;
    --md-footer-bg-color--dark: #000018;
    --md-typeset-a-color: #448bff !important;
    --md-shadow-z1: 0px 0px 30px 2px #000000 !important;
    /* --md-admonition-bg-color: #1a143d; */
    /* --md-shadow-z2:  
    --md-shadow-z3:  0px 0px 20px 2px #ff00dd38 !important; */

    .md-typeset code {
        background-color: #1a143d;
    }

    /* Code Box */
    .highlight {
        box-shadow: var(--md-shadow-z1);
        border-color: #ffffff !important;
    }

    .md-header {
        mask: linear-gradient(black, black 120%);
        background-color: unset !important;
    }

    .md-tabs {
        background-color: unset !important;
        overflow: visible !important;
    }

    .md-header--shadow {
        box-shadow: none !important;
        /* backdrop-filter: blur(10px);
        mask: linear-gradient(transparent, black 60%); */
    }

    /* --------- Alternative Header --------- */
    .header-container {
        margin: auto;
        max-width: 63rem;
        backdrop-filter: blur(7px);
        background-color: #00001850;
        border-radius: 0.7rem;
        border-width: 0.5px;
        border-top-color: #ffffff40;
        border-bottom-color: #49494940;
        border-left-color: #8f8f8f40;
        border-right-color: #8f8f8f40;
        border-style: solid;
        margin-top: 0.5rem;
    }

    /* --------- Main Header --------- */
    /* .header-container {
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        background-color: #00001850;
    } */
}

/* ---------- All ---------- */
.md-typeset .admonition,
.md-typeset details {
    /* margin: 2rem 0 !important; */
}

.md-main__inner {
    margin-top: 0rem !important;
}

/* .md-tabs {
    overflow: visible !important;
} */

/* .md-search__overlay {
    backdrop-filter: blur(7px) !important;
    background-color: unset !important;
} */

.attributions-form {
    width: 100%;
    height: 59rem;
}

.md-search__form {
    border-radius: 0.7rem;
    background-color: #523e8d52;
}

[dir=ltr] .md-search__output, [dir=rtl] .md-search__output {
    border-radius: 0 0 0.7rem 0.7rem;
}

[data-md-toggle=search]:checked~.md-header .md-search__form {
    border-radius: 0.7rem 0.7rem 0 0;

}

.md-source__repository {
    text-overflow: unset !important;
    overflow: unset !important;
}