<div class="row position-relative overflow-visible section-bg">
    <div class="col position-absolute">
        <img src="https://scale.com/_next/image?url=%2Fstatic%2Fimages%2Fpages%2Fhomepage%2Fbg.png&w=992&q=100" alt="SVG Image">
    </div>
    <div class="col position-absolute">
        back<br>
        back<br>
        back<br>
        back<br>
        back<br>
        back<br>
        back<br>
    </div>
</div>
<div class="row position-relative overflow-visible section-fg">
    <div class="md-content md-grid">
        front<br>
        front<br>
        front<br>
        front<br>
    </div>
</div>