
<div class="md-grid">
    <div class="md-content__inner">
        <div class="row">
            <div class="column">
                <div class="overlap">
                    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.456/build/spline-viewer.js"></script>
                    <spline-viewer loading-anim url="https://prod.spline.design/JKbRR1pd5rUHCyvV/scene.splinecode"></spline-viewer>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    abceabceabceabceabceabce<br>
                    abceabceabceabceabceabce<br>
                    abceabceabceabceabceabce<br>
                    abceabceabceabceabceabce<br>
                    abceabceabceabceabceabce<br>
                </div>
            </div>
        </div>
    </div>
</div>