<div class="overlap">
    <spline-viewer loading-anim url="https://prod.spline.design/JKbRR1pd5rUHCyvV/scene.splinecode"></spline-viewer>
</div>

<div class="row position-relative overflow-visible">
    <div class="col position-absolute" style="top: 20rem;"">
        <div class="background_purple"></div>
    </div>
    <div class="col">
        <spline-viewer class="spline-model" url="https://prod.spline.design/0L9kpCuNaYEXlHfx/scene.splinecode"></spline-viewer>
    </div>
    <div class="col position-absolute overlap">
        <div class="box_small_poly">
            <p class="text_poly">
                "Treatment costs totaling over 177 billion Dollars per year."
            </p>
            <p class="text_poly">
                "≥ 80% of nursing home residents undergoing polypharmacy in one form or another."
            </p>
            <p class="text_poly">
                "Polypharmacy is associated with a greater risk of hospitalization and death."
            </p>
        </div>
    </div>
</div>


<div class="md-grid" style="background-color: rgb(47, 50, 53); width:100%;">
    <div class="md-content__inner">
        <div class="row">
            <div class="col-md-7">
                <div class="box">
                    <h1 class="gradient_Headline_start">SEPiA</h1>
                    <p class="text_standard">
                        Artificial Intelligence (AI) is revolutionizing the way we interact with technology and make sense of data. At its core, AI seeks to replicate human intelligence and decision-making in machines, enabling them to perform tasks that traditionally required human cognition. Machine learning, a subset of AI, empowers systems to learn and improve from data, making them adaptable and proficient in diverse applications.
                        AI's impact spans various domains, from healthcare to finance, entertainment to transportation. In healthcare, AI assists in
                    </p>
                    <button class="glass-button_purple_start">Try the Demo</button>
                </div>
            </div>
        </div>
    </div>
</div>